# Docker build context exclusions
.git
.gitignore
.specify/
.cursor/
node_modules/
frontend/node_modules/
target/
**/target/
*.log
*.tmp
Dockerfile
Dockerfile.prod
Dockerfile.certs
volume/
dev/
docs/
specs/


